h3
{
	color: #00346f;
	font-weight: bold;
	font-size: 24px;
	border-bottom: 1px solid #d2d0d0;
	padding:10px 0 10px 65px;
	background: url("../img/layout/favicon.ico") left center no-repeat;
	margin: 0 0 30px;
}